@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Karla";
  color: #18061F;
  background-color: #F5F3F3;
}
.primary-button {
  background-color: #D3D8F6;
  border: 1.5px solid !important;
  border-color: #18061F;
  border-radius: 8px;
  padding: 6px;
  font-weight: 600;
}
.primary-button button:hover {
  color: #9EABF7;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.grid-list{
  display: grid;
  grid-template-columns: 12rem 12rem 12rem;
  grid-gap: 1rem;
}

/* navbar styles */
.navbar {
  padding-top: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #DFD6E2;
}
.navbar img {
  max-width: 150px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-weight: 600;
  padding: 6px;
}
.navbar a:hover {
  color: #9EABF7;
}



/* profile previews / list */
.prof-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #D3D8F6;
  border-radius: 8px;
  background-color: #fff;
  justify-content: center;
}
.prof-preview a{
  background-color: #fff;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.prof-preview:hover {
  border: 2px solid #D3D8F6;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.prof-preview img {
  object-fit: cover;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
.prof-preview h2 {
  font-size: 20px;
  color: #18061F;
  margin-bottom: 8px;
  background-color: #fff;
}
.prof-preview p {
  background-color: #fff;
}


/* profile details page */
.prof-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-side {
  align-self: flex-end;
}
.prof-details div {
  margin: 20px 0;
}
.prof-details h2 {
  font-size: 24px;
  color: #18061F;
  font-weight: 200;
}
.prof-details h3 {
  font-size: 20px;
  color: #18061F;
}
.prof-details p {
  font-size: 18px;
}
.prof-details button:hover {
  color: #9EABF7;
}
.socials img {
  margin-right: 10px;
  width: 25px;
}
.right-side {
  padding-left: 10px;
  padding-bottom: 20px;
}
.right-side img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  border: 3px #D3D8F6 solid;
}
.project-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.prof-details hr {
  border: 1px solid #18061F;
}
.project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-div button {
  width: 100px;
}

/* project details */
.proj-preview div {
  background-color: #fff;
}

.proj-preview img {
  border-radius: 10px;
  width: 158px;
}

.proj-preview h2 {
  font-size: 18px;
  font-weight: 600;
}

.proj-preview p {
  font-size: 14px;
}

.proj-preview .tags p {
  padding: 0px 10px;
  background-color: #DCF8B2;
  width: fit-content;
  border-radius: 8px;
}

/* create new profile form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #18061F;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 8px 10px;
  margin: 10px 0;
  border: 1px solid #18061F;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  display: block;
}

.create button:hover {
  color: #9EABF7;
  cursor: pointer;
}
